<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>
  <body ng-app="k8s">
    <div ng-controller="podview">
      <div class="navbar">
        <div class="navbar-logo">
          <img src="logotext.svg" id="nav-logo-img" alt="logo">
        </div>
        <div ng-show="refresh">
          <div id="circle">
            <div class="loader">
              <div class="loader">
              </div>
            </div>
          </div>
        </div>
        <div>
          <span>Memory: <input ng-model="total_mem" /></span>
          <span>CPU: <input ng-model="total_cpu" /></span>
        </div>
      </div>
      <div class="nodesbar">
        <div class="node" ng-repeat="(node, pods) in nodes">
          <div class="nodeheader">
            <span ng-bind="node"></span>
            <div>
              <span style="font-size: smaller;">Requests:</span>
              <div class="progress" style="height: 4px;">
                <div class="progress-bar bg-info" role="progressbar" ng-style="{width: cpuUsage(pods, 'requests')}"></div>
              </div>
              <div class="progress" style="height: 4px;">
                <div class="progress-bar bg-warning" role="progressbar" ng-style="{width: memUsage(pods, 'requests')}"></div>
              </div>
            </div>
            <div>
              <span style="font-size: smaller;">Limits:</span>
              <div class="progress" style="height: 4px;">
                <div class="progress-bar bg-info" role="progressbar" ng-style="{width: cpuUsage(pods, 'limits')}"></div>
              </div>
              <div class="progress" style="height: 4px;">
                <div class="progress-bar bg-warning" role="progressbar" ng-style="{width: memUsage(pods, 'limits')}"></div>
              </div>
            </div>
          </div>
          <div class="pods" ng-repeat="pod in pods | orderBy:metadata.name">
            <span ng-bind="pod.metadata.name"></span>
            <div class="progress" style="height: 4px;">
              <div class="progress-bar bg-info" role="progressbar" ng-style="{width: calculateCpuWidth(pod.spec.containers[pod.spec.containers.length-1].resources.requests.cpu)}"></div>
            </div>
            <div class="progress" style="height: 4px;">
              <div class="progress-bar bg-success" role="progressbar" ng-style="{width: calculateCpuWidth(pod.spec.containers[pod.spec.containers.length-1].resources.limits.cpu)}"></div>
            </div>
            <div class="progress" style="height: 4px;">
              <div class="progress-bar bg-warning" role="progressbar" ng-style="{width: calculateMemWidth(pod.spec.containers[pod.spec.containers.length-1].resources.requests.memory)}"></div>
            </div>
            <div class="progress" style="height: 4px;">
              <div class="progress-bar bg-danger" role="progressbar"ng-style="{width: calculateMemWidth(pod.spec.containers[pod.spec.containers.length-1].resources.limits.memory)}"></div>
            </div>
          </div>
        </div>
      </div>
	  <div class="demo flowchart-demo" id="sheet">
      </div>
    </div>
  </body>
</html>
